# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=gere_com_openssl_rand_-base64_32

# Google Sheets
GOOGLE_SPREADSHEET_ID=1hiaZJyLvCJUB8CSMDVXZ-F7liHpKjICLCmLCWfpMrCo
GOOGLE_SERVICE_ACCOUNT_KEY={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...@....iam.gserviceaccount.com","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token"}

# Linha onde os dados de militares começam (padrão: 8, pois linhas 1-7 são cabeçalho/instrução)
# Altere se necessário
MILITARES_START_ROW=8
